---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: 'Hello, I’m {{site.author}}, {{site.author_bio}}.'}
                ]
            });
        });
    </script>


<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4">Hello, I'm {{site.author}} !</h1>
    <h3> Just another student, but happens to be a <b>{{site.author_bio}}</b></h3>
    <p class="lead" id="typewriteText"></p>
    <button class="btn btn-light btn-lg"><a href="/about"> About Me </a></button>
    <button class="btn btn-light btn-lg"><a href="/blog"> My Blog!! </a></button>
    <a href="#" class="rainbow-button" alt="Button"></a>
  </div>
</div>